## Ignore Visual Studio temporary files, build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
.vs/
*.user
*.suo
*.userprefs

# NuGet Packages
*.nupkg
packages/
project.lock.json
project.assets.json

# ReSharper / JetBrains
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Mac / Windows temp files
.DS_Store
Thumbs.db
